body  {
    background-image: url("/static/picture/fon.jpg");

}
table {
    border-collapse: collapse;
    width: 100%;
}
.menu td, .picture td{
    padding: 8px;
    text-align: center;
    border-bottom: 3px solid #ddd;
}
 #anecdotesId {
    padding: 8px;
    text-align: left;
    border-bottom: 3px solid #ddd;
}
 #lastId{
     padding: 8px;
     text-align: right;
     border-bottom: 3px solid #ddd;
 }




